.navbar .navbar-brand img{
	height: 40px;
	width: 40px;

	border-radius: 50%;

}

#Home{
	margin-top: 150px;
	margin-bottom: 150px;
	
	
}

#Home h1{
	
	text-align: center;
}

#table{
	margin-bottom: 100px;
}

#gallery{
	margin-top: 50px;
	margin-bottom: 100px;
}
